[submodule ".registry"]
	path = .registry
	url = https://github.com/impact-initiatives/impact-initiatives.r-universe.dev
	branch = HEAD
[submodule "idem"]
	path = idem
	url = https://github.com/impact-initiatives/idem
